appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
flake8==2.5.4
Flask==0.10.1
gnureadline==6.3.3
gunicorn==19.5.0
icalendar==3.9.2
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mccabe==0.4.0
pathlib2==2.1.0
pep8==1.7.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pyflakes==1.0.0
python-dateutil==2.5.2
pytz==2016.3
requests==2.10.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Werkzeug==0.11.9
